extends /layout/_default-layout

prepend config-block
  - page_name = ''


  - 
    var pages = [
        'speed0',
        'speed1',
        'speed2',
        'speed3',
        'speed4',
        'TrigFunction0',
        'TrigFunction1',
        'TrigFunction2',
        'TrigFunction3',
        'TrigFunction4',
        'TrigFunction5',
        'Trig-BoatOnWaves',
        'Trig-Snow',
        'Trig-Snow2',
        'Trig-Fireworks',
        ]

//- append stylesheet-block

//- append javascript-block

block content-block
  main
    h1 JavaScriptゲームプログラミング
    a(href="https://www.amazon.co.jp/dp/B06XSZ3Y2F/ref=cm_sw_r_tw_dp_1KJKJZCE0G3KCZWJR1YF") amazon
    ul
      each item in pages
        li
          a(href=`./${item}.html`) #{item}