extends /layout/_default-layout

prepend config-block
  - page_name = 'TrigFunction5'

//- append stylesheet-block

append javascript-block
  script(src=`./js/${page_name}.js`) 
    

block content-block
  main
    h1 #{page_name}
    canvas(id="graph" width="800" height="800")